*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dad4ff;
    width: 100vw;
    height: 100vh;
}

.nav-menu{
    width: 100vw;
    height: 70px;
    background-color: rgb(117, 9, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
}

.nav-itens{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    font-family: "Inter";
    list-style: none;
    gap: 30px;
}

.nav-itens a{
    text-decoration: none;
    color: inherit;
}

.logo{
    display: flex;
    align-items: center;
    gap: 77px;
}

.logo img{
    height: 50px;
    width: 50px;
}

.parteum{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
}

.foto img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    cursor: pointer;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}


.direita{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.direita .div-info{
    width: 100%;
    margin: 0 auto;
}

.direita h1{
    font-size: 60px;
}

.box{
    background-color: #fff;
    width: 500px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
    padding: 10px;
}

.box p{
    font-size: 24px;
    font-weight: 400;
}

.partedois{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.hobbie, .escola {
    margin: 5%;
}
li{
    font-size: 28px;
}
h2{
    font-size: 35px;
    text-align: center;
}
p {font-size: 24px;}

.partetres{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}
.esq3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.album{
    width: 200px;
    height: 200px;
}

.video{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
}

.video p{
    list-style: none;
    text-align: center; 
}

.video a{
    text-decoration: none;
}
.dir3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.letra{
    font-size: 20px;
}
